* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding-top: 4px;
}

header h3#logo {
    float: left;
    padding: 28px;
    font-size: 30px;
    color: #426B1F;
}

header ul#navegacion {
    float: right;
    padding: 14px;
}

header ul#navegacion li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

ul#navegacion li button#btn-titulo {
    background-color: #426B1F;
    width: 126px;
    height: 48px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


div.container-button{
    text-align: center;
    line-height: 0%;
    padding-top: 30px;
    padding-bottom: 40px;
}

div h1#cabecera {
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 64px;
    text-align: center;
}

div button#btn-adopta {
    background-color: #426B1F;
    width: 227px;
    height: 64px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    cursor: pointer;
}

.cajas {
    width: 1124px;
    margin: 0 auto;
}

article.historiaperrito {
    transition: all box-shadow 0.3s ease;
    background-color: rgba(222, 216, 210, 0.734);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(30, 15, 2, 0.734);
}

.historia {
    display: flex;
    justify-content: left;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.historia h4 {
    padding: 5px;
    padding-left: 2px;
    padding-top: 10px;
}

.historia ul {
    padding: 5px;
    padding-left: 20px;
}

img.perrito {
    align-items: center;
    float: left;
    width: 400px;
    height: 300px;
    padding-left: 60px;
}

#conoce {
    font-size: 30px;
    text-align: center;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 1px;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align: center;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .one {
    grid-column: 1 / 1;
    grid-row: 1/3;
  }
  .two {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  h5 {
    padding: 90px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 20px;
  }

.form {
    padding: 40px;
    display: grid;
}

.form #adoptaform{
    font-size: 30px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 30px;
}

.form .control1y2 {
    padding: 20px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.form .control1y2 #control1 {
    height: 40px;
    width: 500px;
    border-radius: 4px;
    border-style:none;
    padding: 10px;
}

.form .control1y2 #control2 {
    height: 40px;
    width: 500px;
    border-radius: 4px;
    border-style:none;
    padding: 10px;
}

.form .correo {
    padding: 20px;
    display: inline;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.form .correo #control3 {
    height: 40px;
    width: 1005px;
    border-radius: 4px;
    border-style:none;
    padding: 10px;
}

.form .masinfo {
    padding: 20px;
    display: inline;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    padding: 20px;
    padding-top: 10px;
    height: 100px;
    width: 1005px;
    border-radius: 4px;
    border-style:none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.form .envia {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
}

.form #btn-enviar {
    background-color: #426B1F;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: white;
    padding: 1px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: rgba(66, 107, 31, 0.79);;
    padding: 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
}


footer a {
    float: right;
    padding: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    margin: 10px;
}

footer p {
    padding: 1rem;
    margin: 10px;
}

.whatsappboton img {
    height: 80px;
    width: 80px;
    float: right;
    padding: 1rem;
    margin: 10px;
}

