* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding-top: 4px;
}

header h3#logo {
    float: left;
    padding: 28px;
    font-size: 30px;
    color: #426B1F;
}

header ul#navegacion {
    float: right;
    padding: 14px;
}

header ul#navegacion li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

ul#navegacion li button#btn-titulo {
    background-color: #426B1F;
    width: 126px;
    height: 48px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


div.container-button{
    text-align: center;
    line-height: 0%;
    padding-top: 30px;
    padding-bottom: 40px;
}

div h1#cabecera {
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 64px;
    text-align: center;
}

div button#btn-adopta {
    background-color: #426B1F;
    width: 227px;
    height: 64px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    cursor: pointer;
}

.cajas {
    width: 1124px;
    margin: 0 auto;
}

article.historiaperrito {
    transition: all box-shadow 0.3s ease;
    background-color: rgba(222, 216, 210, 0.734);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(30, 15, 2, 0.734);
}

.historia {
    display: flex;
    justify-content: left;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.historia h4 {
    padding: 1px;
    padding-left: 2px;
}


img.perrito {
    align-items: center;
    float: left;
    width: 400px;
    height: 300px;
    padding-left: 60px;
}

.imagenes img {
    flex: center;
    padding: 40px;
    margin: auto;
    border-radius: 20px;
}

.form {
    padding: 40px;
    width: 500px;
}

.form #adoptaform{
    font-size: 20px;
}

.form.control1 {
    padding: 2px;
    width: 1000px;
}

.form.control2 {
    padding: 2px;
    width: 400px;
}

.form.control3 {
  }

.form.boton {
    background-color: #426B1F;
    width: 227px;
    height: 64px;
    border-radius: 8px;
    color: white;
}

footer {
    background-color: rgba(66, 107, 31, 0.79);;
    padding: 0rem;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
}


footer a {
    float: right;
    padding: 1rem;
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    padding: 1rem;
    margin: 10px;
}

.whatsappboton{
    padding: 1px;
    margin: 0;
    float: right;
    flex: auto;
    size: 10px;
}

.whatsappboton:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
